[Desktop Entry]
Type=Application
Name=PS5 Image Forge
GenericName=PS5 Image Toolkit
Comment=Build, convert and manage PS5 game-dump images
Exec=PS5-Image-Forge
Icon=ps5-image-forge
Categories=Utility;System;
Terminal=false
StartupWMClass=PS5 Image Forge
